html {
    background: red;
}

#container {
    width: 100%;
    outline: 1px solid green;
}

.box {
    width: 200px;
    height: 200px;
}

.brown {
    background: brown;
}

.yellow {
    background: yellow;
}